* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --primary-color: green;

    --accent1-color: gold;
    --accent2-color: peru;
    --title-font: Helvetica;
    --body-font: Arial;

}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    margin: 0 auto;
    width: 840;
}

h1,
h2 {
    color: var(--accent2-color);
    font-family: var(--title-font);
}

nav,
p,
section,
article {
    padding: 1rem;
    margin: 1rem;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 30px;
    opacity: .8;
    background-color: var(--accent1-color);
    padding: 20px;

}

h2 {
    position: absolute;
    text-align: center;
    padding: 10px;
    border: 5px;
}

.hero article {
    position: absolute;
    text-align: center;
    bottom: 20px;
    background-color: var(--primary-color);
}

.hero article img {
    float: right;
    width: 100px;
    border: 10px;
}

header {
    display: grid;
    align-items: center;
    grid-template-columns: 200px 1fr 1fr 1fr;

}

nav {
    display: flex;
    flex-direction: row;
    align-content: flex-end;
}

nav img {
    width: 50px;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    background-color: black;
}

.p1 {
    order: -1;
    text-wrap: wrap
}

section img {
    width: 100px;
    float: left;
    padding: 20px;
    border: 20px;
}

footer {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;

}