* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 500px;
    margin: 1rem;
    border: 1px solid rgb(0 0 0/ 10%);
    padding: 1rem;
    background-color: #555;
}

h1 {
    margin: .5rem;
}

form {
    margin: 1rem;
    border: 1px solid rgb(0 0 0/ 10%);
    color: #111;
    padding: 1rem;
    background-color: #ddd;
}

input,
textarea,
select {
    padding: .75rem;
    width: 350px;

}

code {
    display: block;
    background-color: black;
    color: white;

}

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0/ 10%);
    padding: 1rem;
}

.quiz-item {
    border: none;
}

button {
    background-color: navy;
    color: #ffff;
    margin: 0 auto;
    display: block;
    border-radius: .5rem;

}