* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --border: 1px solid black;
    --box-shadow: 20px 0 5px 5px;
}

nav {
    background-color: darkblue;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
    text-align: none;

}

main {
    max-width: 800px;
}

main img {
    float: right;

    width: 300px;
    height: auto;
    box-shadow: var(--box-shadow);
    padding: 5px;
    border: var(--border);

}

aside {
    text-align: center;
    width: 400px;
    margin: 10rem;
    position: relative;
    color: black;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    left: 120px;

}

h1 {
    color: darkblue;
}

img {
    width: 100%;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: var(--box-shadow);
}

p {
    padding: 0;
}

footer {
    margin-top: 10px;
    border-top: 1px dashed silver;
    text-align: center;

}

/* Class Selectors*/
.box {
    margin: 1rem;
    padding: 1rem;
    background-color: turquoise;
    border: 1rem solid rgb(0 0 0 / 10%);
}

header,
footer {
    max-width: 840px;
    margin: 0 auto;
}