:root {
    --border: 1px solid black;
    --box-shadow: 20px 0 5px 5px;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

main {
    max-width: 800px;
}

main img {
    width: 300px;
    height: auto;
    box-shadow: var(--box-shadow);
    padding: 5px;
    border: var(--border);

}

aside {
    text-align: center;
    width: 400px;
    margin: 10rem;
    border: var(--border);
    padding: 2rem;
    background-color: gold;
    color: black;
}

aside img {
    width: 200px;
    height: auto;
}

h1 {
    color: darkblue;
}

img {
    width: 100%;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: var(--box-shadow);
}

p {
    padding: 0;
}

footer {
    margin-top: 10px;
    border-top: 1px dashed silver;
    text-align: center;

}